@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Ysabeau+SC:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    text-align: center;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

body {
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;

}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}


#intro-text {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 400;
}

strong {
    font-weight: 700;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fade-in 1s ease-in-out;
}

.button {
    /*grid-area: buttonArea;*/
    max-height: 4rem;
    align-self: center;
}

.girly {
    grid-area: girly;
}

.text {
    grid-area: text;
    align-self: center;
}


.logo {
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

.logo-hovered {
    width: 100px;
    height: 100px;
    animation-play-state: paused;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* target the specific div created by react-adobe-animate package when rendering animation */
/*html body div > div > div > div > div:nth-child(1) > div:nth-child(2) > div > div > div > div {*/
/*    max-height: 100%;*/
/*    max-width: 100%;*/
/*}*/

/*body {*/
/*    overflow: hidden;*/
/*}*/
/*.insulin-test-container {*/
/*    overflow: auto;*/
/*}*/

.glucoseTimeline {
    list-style: none;
    padding-left: 0;
}

.glucoseTimeline li {
    display: flex;
    align-items: center;
    border: solid 2px #5599ff;
    border-radius: .2em;
    padding: .5em .8em .5em .5em;
    margin-bottom: .75em;
    background-color: #ffffff;
}

.glucoseTimeline p {
    max-width: none;
    font-weight: bold;
    margin: 0;
}

.timeline-image {
    overflow: hidden;
    flex-shrink: 0;
    width: 4em;
    height: 4em;
    background-color: #aaccff;
    padding: .5em;
    margin-right: .5em;
}

.timeline-image img {
    display: block;
    width: 100%;
    height: auto;
}

.card {
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card .front,
.card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}

.card .front {
    transform: rotateY(0deg);
}

.card .back {
    transform: rotateY(180deg);
}

.chapter {
    width: 12rem;
    height: 12rem;
    background-color: #3D348B;
    color: #fff;
    font-family: 'Bauhaus 93', sans-serif;
    font-size: 3rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.chapter:hover {
    transform: scale(1.2);
}

.chapter-name {
    font-size: 1.7rem;
}

.line {
    border-top: 4px solid #fff;
    width: 6rem;
    margin: 0 20px;
}

.fontt {
    font-family: Verdana, sans-serif;
}

